@using ComwellWeb.Komponents.Modal;
@using ComwellWeb.Pages
@using ComwellWeb.Services.Interfaces
@using Core;
@inject ICommentService CommentService
@if (Visible && Goal != null)
{
    <div class="modal-backdrop" @onclick="CloseOnBackdropClick">
        <div class="modal-content" @onclick:stopPropagation>
            <button class="close-button" @onclick="Close">X</button>
            <h3>@Goal.SubGoalName</h3>
            <p>@Goal.SubGoalDescription</p>
            <p><strong>Kategori:</strong> @Goal.SubGoalCategory</p>
            @if (VejenDerTil == true)
            {
                <button class="btn btn-primary" @onclick="() => NotifyResponsibleCookApplication(Goal.SubGoalId)">Ansøg</button>
            }
            else
            {
                <div>
                    @foreach (var comment in _comments)
                    {
                        @comment.CommentContent
                        @comment.CommentDate
                    }
                </div>
                <span style="color: red">@errorMessage</span>
                <InputText class="input" type="text" placeholder="Skriv din kommentar her.." @bind-Value="@writtenComment"/>
                <button @onclick="SendComment">Send kommentar</button>
                <button @onclick="() => NotifyResponsibleCook(Goal.SubGoalId)">Jeg er færdig med delmål</button>
            }
        </div>
    </div>
}

@code {
    [Parameter] public bool VejenDerTil { get; set; }
    [Parameter] public SubGoal? Goal { get; set; }
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback OnCloseRequested { get; set; }
    [Parameter] public User CurrentUser { get; set; }

    private string writtenComment;
    private List<Comment> _comments;

    private string errorMessage;
    
    private Task Close() => OnCloseRequested.InvokeAsync();
    private Task CloseOnBackdropClick() => OnCloseRequested.InvokeAsync();

    protected override async Task OnInitializedAsync()
    {
        if (!VejenDerTil)
            _comments = await CommentService.GetCommentsBySubGoalId(Goal.SubGoalId);
    }

    private async void NotifyResponsibleCook(int subGoalId)
    {
        // Todo giv notification til ansvarlig for elev, at eleven er færdig med delmål
    }
    
    private async void NotifyResponsibleCookApplication(int subGoalId)
    {
        // Todo giv notification til ansvarlig for elev, at eleven er interesseret i dette delmål
        
    }

    private void SendComment()
    {
        if (!string.IsNullOrWhiteSpace(writtenComment))
        {
            var newComment = new Comment()
            {
                CommentContent = writtenComment,
                CommentDate = DateTime.Now,
                CommentSubGoalId = Goal.SubGoalId,
                CommentSenderId = CurrentUser.UserId
            };
            CommentService.AddComment(newComment);
        }
        else
        {
            errorMessage = "Comment must have value";
            StateHasChanged();
        }
    }

}