@page "/MyProfile"
@using Microsoft.AspNetCore.Components.Forms
@using Core
@inject IUserService userService
@inject NavigationManager nav


@if (CurrentUser == null)
{
    <p>Indlæser profil...</p>
}
else
{
    <div id="baggrund">
        <h1 id="UserName">@CurrentUser.UserName</h1>
        <div id="altindhold">
            <img src="@profilePicture" class="profile-picture" alt="Profil billede"/>
            <InputFile OnChange="HandleSelected" accept="image/*"/>

            <div id="infobox">
                <div class="infobox-indhold">
                    <input class="Infobox-Input" type="text" value="@CurrentUser.UserName">
                </div>
                <div class="infobox-indhold">
                    <input class="Infobox-Input" type="text" value="@CurrentUser.UserEmail">
                </div>
                <div class="infobox-indhold">
                    <input class="Infobox-Input" type="text" value="@CurrentUser.UserPhone">
                </div>
            </div>
            <div id="GemLogudBtn">
                <button class="btn btn-primary">Logud</button>
                <button class="btn btn-primary">Gem ændringer</button>
            </div>
        </div>
    </div>
}
@code {
    private User? CurrentUser;
    private string profilePicture;
    private string defaultPicture = "/Pictures/NoProfilePicture.png";

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await userService.GetUserLoggedInAsync();

        if (CurrentUser == null)
        {
            // Redirect hvis ikke logget ind
            nav.NavigateTo("/login");
            return;
        }

        profilePicture = CurrentUser.Picture ?? defaultPicture;
    }

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxAllowedSize: 1024 * 1024 * 10).ReadAsync(buffer);

        CurrentUser.Picture = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
        profilePicture = CurrentUser.Picture;
    }
}
