@using ComwellWeb.Komponents.Modal
@using Core;
@page "/MyGoals"
<div class="kort-container">
    @foreach (var subgoal in MySubGoalsList)
    {
        <div class="delmål-kort" @onclick="@(() => OpenModal(subgoal))">
            
            <img alt="No image available" class="DelmålBillede" src="Pictures/No_Image_Available.jpg"/>

            <div class="delmål-type">Type: @subgoal.SubGoalCategory</div>
            <h4 class="delmål-titel">@subgoal.SubGoalName</h4>
            <p class="delmål-beskrivelse">@subgoal.SubGoalDescription</p>

            <p class="delmål-dato">
                Seneste start Dato: @subgoal.SubGoalDueDate.AddDays(-10).ToString("dd-MM-yyyy")<br/>
                Slut Dato: @subgoal.SubGoalDueDate.ToString("dd-MM-yyyy")
            </p>
        </div>
    }
</div>

<SubGoalDescriptionModal Goal="SelectedSubGoal" Visible="ShowModal" OnCloseRequested="CloseModal" VejenDerTil="VejenDerTil"/>
@code {
 private List<SubGoal> MySubGoalsList = new()
{
    new SubGoal
    { //en masse test data 
        SubGoalId = 1,
        
        SubGoalName = "Udskæring af Gris",
        SubGoalDescription = "Hej Markus, du skal i fremtiden i køkkenet lære at udskære et eller andet i en gris. Her er et link til en video der viser det: link",
        SubGoalCategory = "Køkkenkompetance",
        SubGoalDueDate = new DateOnly(2025, 3, 12),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 2,
        
        SubGoalName = "Kursus: Slibning af kniv",
        SubGoalDescription = "Alle Elever bedes se denne video før kurset begynder: link",
        SubGoalCategory = "Kursus",
        SubGoalDueDate = new DateOnly(2025, 3, 25),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 3,
        
        SubGoalName = "Sikkerhed i køkkenet",
        SubGoalDescription = "Læs sikkerhedsguiden og gennemfør quizzen bagefter.",
        SubGoalCategory = "Sikkerhed",
        SubGoalDueDate = new DateOnly(2025, 4, 2),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 4,
        
        SubGoalName = "Hygiejne-test",
        SubGoalDescription = "Aflever et hygiejnecertifikat efter færdiggørelse af online kurset.",
        SubGoalCategory = "Hygiejne",
        SubGoalDueDate = new DateOnly(2025, 4, 8),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 5,
        
        SubGoalName = "Lav en forret",
        SubGoalDescription = "Design og tilbered en simpel forret med tilhørende servering.",
        SubGoalCategory = "Madlavning",
        SubGoalDueDate = new DateOnly(2025, 4, 20),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 6,
        
        SubGoalName = "Lær råvarekendskab",
        SubGoalDescription = "Identificer og beskriv 10 råvarer, deres anvendelse og opbevaring.",
        SubGoalCategory = "Teori",
        SubGoalDueDate = new DateOnly(2025, 4, 28),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 7,
        
        SubGoalName = "Fælles madlavning",
        SubGoalDescription = "Planlæg og gennemfør en fælles madlavning med andre elever.",
        SubGoalCategory = "Gruppearbejde",
        SubGoalDueDate = new DateOnly(2025, 5, 5),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 8,
        
        SubGoalName = "Bag en kage",
        SubGoalDescription = "Vælg en opskrift, bag en kage og dokumenter processen med billeder.",
        SubGoalCategory = "Bageprojekt",
        SubGoalDueDate = new DateOnly(2025, 5, 10),
        SubGoalStatus = false
    },
    new SubGoal
    {
        SubGoalId = 9,
        
        SubGoalName = "Afslutningsevaluering",
        SubGoalDescription = "Skriv en kort evaluering af dit forløb og hvad du har lært.",
        SubGoalCategory = "Evaluering",
        SubGoalDueDate = new DateOnly(2025, 5, 15),
        SubGoalStatus = false
    }
};

private SubGoal? SelectedSubGoal;
private bool ShowModal = false;
public bool VejenDerTil = false;

private void OpenModal(SubGoal goal)
{
    SelectedSubGoal = goal;
    ShowModal = true;
    VejenDerTil = false;
}

private void CloseModal()
{
    ShowModal = false;
}
}
