@page "/StudentOverview/{UserId:int}"
@using Core
@inject NavigationManager Navigation
@inject IUserService UserService

@if (student != null && studentSubGoals != null)
{
    <h4 style="margin-bottom: 1rem;">@student.UserName</h4>

    <table class="student-task-table">
        <thead>
            <tr>
                <th>Frist</th>
                <th>Opgave</th>
                <th>Beskrivelse</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subGoal in studentSubGoals)
            {
                <tr>
                    <td>@subGoal.SubGoalDueDate.ToString("dd/MM/yyyy")</td>
                    <td>@subGoal.SubGoalName</td>
                    <td>@subGoal.SubGoalDescription</td>
                    <td>@(subGoal.SubGoalStatus ? "✅" : "❌")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ingen elev fundet med ID: @UserId</p>
}

@code {
    [Parameter]
    public int UserId { get; set; }

    private User? student;
    private List<SubGoal>? studentSubGoals;


    protected override async Task OnInitializedAsync()
    {
        student = await UserService.GetUserByUserId(UserId);
        studentSubGoals = student.StudentPlan;
        studentSubGoals.Sort((x, y) => x.SubGoalDueDate.CompareTo(y.SubGoalDueDate));
    }
    
}
